*{
	font-family: 'exo-regular';
}
html{
	min-height: 100%;
    display: flex;
    align-items:stretch;
}

body{
	flex: 1;
	min-height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

}

body{
	background-color: $(--g-claro);
}

body>div, body>form{
	background-color: white;
	width: 70%;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.codigo {
	background-color: hsla-adjust(lightblue 0 0 0 -50);
	align-self: stretch;
	padding: 0 1em;
}
.logo{
	flex: 0 0;
	align-self: center;
	width: 180px;
	height: 180px;
}

.btn-centro{
	@extend .centrado;
}
.centrado{
	align-self: center;
}
.grupo{
	display:flex;
	align-self: stretch;
	margin-bottom: 1.5em;
	position: relative;	
}

.error-validacion{
	background-color: $(--a-oscuro);
    padding: .2em;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    z-index: 99;
    color: white;
}

.grupo :any(label, p, input,select){
	align-self: flex-start;
	margin: 0;
	flex: 1;
}

.error_estatico{
	color:red;
}

.grupo label{
	flex: 0.5;
}

.grupo :any(input, select){
	margin: 0 1em;
}

.btn-contenedor{
	display: flex;
}

button{
	background-color: $(--a-oscuro);
	border: none;
	color: white;
	padding: .5em 1em;
	margin-left: 2em;
}
.btn-probar{
	margin-left:0;
	margin-bottom: 2em;
}

button[disabled]{
	background-color: hsla-adjust($(--a-oscuro) 0 0 0 -70);
}

.btn-idioma{
	text-decoration: none;
	color: $(--a-claro);
}

.btn-idioma.active{
	text-decoration: none;
	color: $(--a-oscuro);
}

.btn-idioma:first-child{
	padding-right: .4em;
	border-right: solid 1px $(--a-claro);
}
section.cargando-mascara {
	position: fixed;
	z-index: 9999999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.cargando-mascara img{
	width: 20%;
	height: auto;
}
.cargando-mascara .barra{
	width: 20%;
	height: 10px;
	background-color: white;
	margin-top:.4em;
	position:relative;
	border: 1px solid $(--a-oscuro);
	overflow: hidden;
}
.cargando-mascara .progreso{
	height:10px;
	background: $(--a-claro);
	position: absolute;
	animation: animacion-cargando infinite 3s;
	width: 100%;
	margin-left: -120%;
}
@keyframes animacion-cargando {
	0%{
		margin-left: -120%;
	}
	50%{
		margin-left: 120%;
	}
	100%{
		margin-left:-120%;
	}
}
[bt-btn-carga] .contenedor-texto{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10100;
}
[bt-btn-carga]{
	position:relative;
	background: none;
	border: 0;
	padding: 1em 3em;
}
[bt-btn-carga]:active{
	 outline: none;
	border:none;
}
.contenedor-cuadros{
	top:0;
	left: 0;
	position:absolute;
	width: 100%;
	height: 100%;
	display:flex;
}
.contenedor-cuadros div{
	flex: 1;
	background: $(--a-oscuro);
	transform: scaleY(1);
	transition: margin .2s;
	z-index: 1000;
}
[bt-btn-carga].cargando  .contenedor-cuadros div{
	margin: 0 .2em;
	animation: btn-carga .5s infinite;
}
@keyframes btn-carga{
	0%{transform: scaleY(1);}
	50%{transform: scaleY(.5);}
	100%{transform: scaleY(1);}
}
.contenedor-texto{
	color:white;
}
[bt-btn-carga].cargando
.contenedor-texto{
	visibility:hidden;
}
/*************************************
********BT-WINDOW*********************
**************************************/
.bt-window {
    position: absolute;
    background: white;
    border: $(--g-oscuro) 1px solid;
}
.bt-window-wrapper{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,.7);
    z-index: 100000000;
}
.bt-window-titulo{
	background-color: $(--v-oscuro);
	color: white;
	font-weight: bold;
	user-select:none;
	padding: .2em;
	z-index: 100000100;
}
.bt-window-titulo:hover{
	cursor:default;
}
.bt-window-btn-container{
	display: flex;
	justify-content: space-around;
	padding: .5em;
	z-index: 100000100;
}
.bt-window-texto, .bt-window-url{
	padding: 1em;
	z-index: 100000100;
}
.bt-window-wrapper.ng-hide-add{
	animation: dummy 0.5s;
}
.bt-window-wrapper.ng-hide-remove{
	animation: dummy 0.5s reverse;
}
.bt-window.ng-hide-remove{
	animation: aparecer 0.5s;
}
.bt-window.ng-hide-add{
	animation: aparecer 0.5s reverse;
}
@keyframes fadeIn {
	0%{
		opacity: initial;
	}
	100%{
		opacity: initial;
	}
}

/*************************************
********FUENTES****************
**************************************/
@font-face {
    font-family: "exo-semibold";
    src: url("/fuentes/Exo2-SemiBold.otf");
}

@font-face {
    font-family: "exo-medium";
    src: url("/fuentes/Exo2-Medium.otf");
}

@font-face {
    font-family: "exo-regular";
    src: url("/fuentes/Exo2-Regular.otf");
}
@font-face {
    font-family: "exo-light";
    src: url("/fuentes/Exo2-Light.otf");
}


/*************************************
********COLORES****************
**************************************/
@set {
	--g-oscuro: #727176;
	--g-claro: #edeef0;
	--v-oscuro: #1d9143;
	--v-claro: #c1ce40;
	--a-oscuro: #006895;
	--a-claro: #0098c1;
}
