*{
	padding: 0;
	margin: 0;
	font-family: 'exo-regular';
}
html{
	height:100%;
}

body{
	min-height: 100%;
}
.sin-bordes{
	border:none;
}
input[type="radio"]{
	width: auto !important;
}

fieldset.envoltura_controles{
	border: 1px solid rgb(169, 169, 169);
}
.contenedor-centrado{
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}
fieldset.envoltura_controles legend{
	color: black;
	font-family: "exo-regular";
	font-size: 1em;
	text-align: left;
	width: auto;
	margin:0;
}

body, .contenido{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: $(--g-claro);
}

.contenido{
	align-items: center;
	margin-top: 4em;
	flex: 7;
}
.titulo-con-boton{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
[bt-notas-alumnos]{
    margin-bottom: 1em;
}
[bt-notas-alumnos] h1{
	margin-right:2em;
}
.centro{
	align-self: center !important;
}
/* FORMULARIO LOGIN*/

.btn-tipo{
	align-self: flex-start;
	margin: 0.1em 0.1em;
	padding: 0.3em 1.9em;
	background-color: $(--v-oscuro);
	color: white;
	min-height:1.3em;
	@extend .idioma > li;
	
}
.btn-con-margen {
	margin-top: .5em
}
.btn-tipo:not(:first-child):not(:last-child){
	margin: 0 1em;
	
}
.btn:hover{
	cursor: pointer;
}
.btn-tipo.activo{
	background-color: $(--v-claro);
	color: black;
}

.form-login{
	display:flex;
	flex-direction: column;
}

.form-login .grupo-form{
	width: 60%;
	margin:0.7em 0;
}

.form-login :any(#email, #clave){
	width: 100%;
}

.form-login > ul{
	list-style: none;
	display: flex;
	justify-content: center;
}

.form-login a{
	margin: .8em 0;
	color: $(--v-oscuro);
	font-family: "exo-light";
	text-align: center;
}

.registrarse{
	font-family: "exo-semibold" !important;
	text-decoration: none;
}

fieldset{
	margin-top: 2em;
	background-color: white;
	display: flex;
    flex-direction: column;
    padding-top: 1.5em;
}

legend{
	font-size: 1.2em;
	text-align: center;
	width:50%;
	margin: 0 25% 0;
	color: $(--v-oscuro);
	font-family: 'exo-semibold';
	
}

.form-login input[type="submit"] {
	display: flex;
	padding:.5em 4.4em;
    background-color: $(--v-oscuro);
    text-align: center;
    border-style: none;
    color: white;
	margin-top:1em;
}
input[type="submit"]:hover{
	cursor:pointer;
}


.errores{
	flex-direction: column;
	color: red;
}

.error-validacion{
	position:absolute;
	width: 200px;
	z-index: 100000;
	background: $(--v-claro);
	left: 100%;
    margin-left: 1em;
	bottom:0;
	padding: .5em;
	font-size: 12px;
}
.error-validacion::before{
	content: " ";
	border: 10px solid transparent;
	border-right: 10px solid $(--v-claro);
	position: absolute;
	left: -20px;
    bottom: 0;

}
.grupo-form{
	position:relative;
}
/*FORMULARIO PERFIL*/
.contenedor-perfil .grupo{
	display: flex;
	flex-direction: column;
	margin: 1em;
}
.grupo{
	flex-direction: column;
	display: flex;
	align-items: flex-start;
	position:relative;
}
.contenedor-perfil .grupo :any(input,select) {
	padding: .5em;
	width: 250px;
	/*para que los select sean del mismo tamaño que los input*/
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
}
input[type='checkbox']{
	padding:0 !important;
	width: auto !important;
}

.contenedor-ofertas .grupo{
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.contenedor-ofertas .grupo :any(input,select) {
	padding: .5em;
	width: 250px;
	/*para que los select sean del mismo tamaño que los input*/
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
}


.titulo{
	align-self: center;
	text-align: center;
}
/*FORMULARIO CAMBIAR CONTRASEÑA*/

.contenedor-perfil ,.contenedor-perfil fieldset{
	flex-direction: column;
	align-items: center;
	display: flex;
	justify-content: center;
}

.contenedor-perfil fieldset{
	padding: 1em 4em;
}

.contenedor-perfil legend{
	width: 120%;
}

.contenedor-perfil {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.contenedor-perfil > div{
	width: 100%;
}

.contenedor-perfil :any(.btn,a), .contenedor-ofertas .grupo :any(.btn,a){
	 text-align: center;
}

.contenedor-perfil a:not(.btn), .verde, .verde:visited{
	color: $(--v-oscuro);
}
.contenedor-perfil div>p:last-of-type{
	margin-bottom: 1em;
}
.contenedor-perfil .btn, .contenedor-ofertas .btn{
	text-decoration: none;
}
.sin-margen {
	margin: 0 2em 0 0 !important;
}
.contenedor-perfil [bt-input-label]{
	display: flex;
	margin: 1em 0em;
}

.contenedor-perfil [bt-input-label] input{
	flex: 1;
}
/*MENU PRINCIPAL*/

.cabecera, .usuario{
	display: flex;
	list-style: none;
	background-color: $(--v-oscuro);
	color: white;
	position: relative;
	/*min-height: 2em;*/
	font-size: 14px;
}

.cabecera > li {
	position: relative;
	user-select: none;
}

.cabecera >li:last-child::before{
	content: ' ';
	width:2em;
	height: this(width);
	background: url("/imagenes/idioma.png") no-repeat;
	background-size: cover;
	display: inline-block;
	margin-right: .5em;
	min-width: 20px;
	min-height: 20px;

}

.usuario::before{
	@extend .cabecera >li:last-child::before;
	background: url("/imagenes/usuario.png") no-repeat;
	background-size: cover;
}

.usuario input[type="submit"]{
	border-style: none;
    color: white;
    background-color: transparent;
    text-align: left;
    padding-left:1.5em !important;
}

.usuario input[type="submit"]:hover{
	border-style: none;
    color: white;
    background-color: transparent;
}

.lleno * {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
}
.todo{
	flex: 1
}

:any(.cabecera >li:last-child, .usuario )::after{
	content: ' ';
	border-left: 1px solid white;
	height: 80%;
	top:10%;
	position: absolute;
	left: 0;
}

.cabecera ul {
	display: none;
	list-style: none;
	background-color: $(--v-oscuro);
	position: absolute;
	z-index: 100;
	top:100%;
	left: 0;
	width: 100%;

}
.cabecera:hover{
	cursor: pointer;
}
.cabecera li:hover > ul {
	display: block;
}
.cabecera li{
	padding: .4em 1.5em;
	display: flex;
	align-items: center;
}

.cabecera li:hover {
	background-color: $(--v-claro);
}

.cabecera ul li:hover {
	background-color: $(--v-claro);
}
.login-contenedor{
	display: flex;
	flex-direction: column;
	align-items: center;
}

header{
	justify-content: flex-end;
	flex-direction: row;
	display: flex;
	background-color: $(--v-oscuro);
}


/* MENU USUARIO*/

.cabecera_usuario{
	margin-top: 1em;
	margin-left: 7%;
	width: 80%;
}
.cabecera_usuario ul li{
	padding: 0.5em 1em;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 115px;
}

.cabecera_usuario .activo{
	z-index: 400;
}

.cabecera_usuario .activo div{
	background-color: $(--v-claro);
	border-bottom: 1px solid $(--v-claro);
}

.cabecera_usuario ul li div{
	background-color: $(--v-oscuro);
	position: absolute;
	border-radius: 4px 4px 0 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border: 1px solid $(--g-claro);
	border-bottom: 0;
	
	-webkit-transform: perspective(100px) rotateX(30deg);
	-moz-transform: perspective(100px) rotateX(30deg);
	
	box-shadow: 1px 0px 1px $(--g-claro);
	top: 0;
	left: 0;
}

.cabecera_usuario ul li a{
	color: white;
	text-decoration: none;
	text-align: center;
}

.cabecera_usuario ul{
	list-style: none;
}

/* ADMIN */
.contenedor-admin, .contenedor-ofertas,.contenedor, .contenedor-perfil, .contenedor-candidaturas{
	padding: 30px 5px 5px 10px;
	background-color: white;
	border: 1px solid $(--g-oscuro);
	margin-left: 5%;
	width: 90%;
	flex: 1;
}
.contenedor-tabla{
	flex: 1;
}
.contenedor-config, .config-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	flex-wrap: wrap;
}
.config-wrapper{
	flex-direction: row;
	align-items: stretch;
}
.config-wrapper>*{
	flex: 1 1 100%;
	margin: 1em;
}
@media (min-width: 950px){
	.config-wrapper>*{
		flex: 1 1 40%;
	}
}
.lista_cambios{
	
	padding-right: 40px;
	list-style: none;
}

.contenedor-admin .btn-cambio{
	padding: .5em 1.5em;
	border: solid 1px $(--v-oscuro);
    background: $(--g-claro);
}

.contenedor-admin .btn-cambio.activo {
    border-right: 0;
    position: relative;
}

.contenedor-admin .btn-cambio.activo::after {
    content: ' ';
    background: $(--g-claro);
    width: 1.5em;
    height: 1.5em;
    border-right: 1px solid $(--v-oscuro);
    border-top: 1px solid $(--v-oscuro);
    position: absolute;
    right: -1em;
    transform: translate(-3px, -3px) rotate(45deg);
}


/*OFERTAS*/

.contenedor-ofertas{
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;	
}

.contenedor-ofertas fieldset{
	margin-top: 0;
}

.contenedor-ofertas aside{
	flex: 1;
	margin-right: 1em;
}

.contenedor-ofertas section{
	flex: 4;
}

.filtro-contenedor{
	margin:0 2em 1em 2em;
	display:flex;
	flex-direction: column;
}

.contenedor-ofertas section article{
	padding: 1em 0 1em 1em;
	border-bottom: solid 1px $(--g-claro);
}
.contenedor-ofertas section article a{
	text-decoration: none;
	color: black;
}

.contenedor-ofertas section article:hover{
	background-color: hsla-adjust($(--v-oscuro) 0 0 0 -95);
	/*background-color:rgba(29,145,67,0.05);*/
}

.opciones{
	display:flex;
	flex-direction: row;
}
.contenedor-ofertas section article h5{
	background-color: $(--g-claro);
	margin-top: .5em;
	margin-right: 2em;
	padding: .4em .8em;
	border-radius: 6px;
}

/*DETALLE OFERTAS PROFESOR*/
.detalle_oferta_profesor{
	flex-direction: column;
}

/*BUSCAR OFERTA PROFESOR*/
.buscar{
	background-image: url("/imagenes/buscar.png");
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: right;
	
}
.cont-oferta-profe{
	padding-right: 1.5em;
}

.buscardor-alumno{
	border-left: solid 1px $(--g-oscuro);
	padding-left: 1.5em;
}

/*ALTA EMPRESA*/
.contenedor-alta-empresa{
	flex-direction: row !important;
	flex-wrap: wrap;
}
.grupo-form-flex{
	display: flex;
	position: relative;
	flex-direction: column
}
.grupo-form-flex>.grupo-form-flex{
	
}

/*EMPRESA*/
.decorado{
	text-decoration: underline;
	color: $(-v--oscuro);
}

/*CANDIDATURAS */

.contenedor-candidaturas li{
	list-style: none;
}

.contenedor-candidaturas li a{
text-decoration: none;
}

/*EDITAR PERFIL ALUMNO*/

.grupo-botones .btn-vertical{
	display:flex;
	flex-direction:column;
	align-items: left;
	margin:0 0 .5em 0 !important;	
}

#formDatosPersonales, #formDatosPersonales > div{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.error_validacion{
	background: $(--v-claro);
    padding: .2em;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    z-index: 99;
}
.error_validacion.ng-enter{
	animation: aparecer .5s;
}
#formDatosPersonales > div{
	flex-direction: row;
}

#formDatosPersonales > div > div{
	margin:0 1em;
}
.centrado{
	align-items: center;
	display: flex;
}
.grupo-horizontal, .grupo-vertical{
	display: flex;
	flex-direction: row;
}
.grupo-horizontal.space-between{
	justify-content: space-between;
}
.grupo-vertical{
	flex-direction: column;
}

.grupo-horizontal img{
	margin-right: 1em;
}

.contenedor-datos-personales, .contenedor-experiencia, .contenedor-formacion-academica, 
.contenedor-formacion-complementaria, .contenedor-idioma, .contenedor-otros-datos{
	border-bottom: solid 1px $(--g-claro);
	margin: 2em 0;
	width: 80%;
	margin: 0 10%;
}


/*FOOTER*/
footer{
	background-color: $(--g-oscuro);
	padding: 0.4em 0;
	font-size: 12px;
	color: white;
	display: flex;
	justify-content: center;
	margin-top: 1em;
}
/*************************************
********BT-INPUT-LABEL****************
**************************************/
[bt-input-label]{
	position:relative;
	padding: 1em 0 0 0;
	align-self:center;
}

[bt-input-label] label{
	position: absolute;
	color: gray;
	pointer-events: none;
	left: .5em;
	transition: all .2s;
	bottom:0;
	padding: .3em;
}

[bt-input-label] input{
	padding: .3em;
}
[bt-input-label] input:focus + label,
[bt-input-label] input.ng-not-empty + label{
	transform: translate(0,-100%);
	color: black;
}

:any(input,select,textarea):focus{
	border: 2px solid $(--v-oscuro);
	outline: $(--v-oscuro);
}
/*************************************
********BT-DESPLEGABLE****************
**************************************/
[bt-lista-desplegable]{
	position:relative;
	display: inline-flex;
	flex-direction: column;
}
[bt-lista-desplegable]
.bt-lista-desplegable.valor{
	min-height: 1.5em;
	min-width: 6em;
	display: inline-flex;
	justify-content: space-between;
	background: white;
	border: $(--g-claro);
}
.bt-lista-desplegable.desplegable{
	border: 2px solid $(--v-oscuro);
	background: $(--g-claro);
	list-style: none;
	position: absolute;
	top:100%;
	width: 100%;
	box-sizing: border-box;
}
.bt-lista-desplegable.desplegable>li:hover{
	background: $(--v-claro);
	cursor: pointer;
	user-select: none;
}
.bt-lista-desplegable.valor>.btn{
	background: $(--v-oscuro);
	padding: .25em .5em;
}
.bt-lista-desplegable-contenedor{
	padding: .2em .2em;
}
@media all and (max-width: 768px){
	.bt-lista-desplegable.desplegable{
		position: fixed;
		top: 10%;
		left: 10%;
		max-width: 80%;
		max-height: 60%;
	}
}
/*tablas*/
.paginacion {
	display: flex;
	justify-content: space-between;
}
.marcador-pagina {
	width: 4em;
}
[bt-tabla]  tbody tr:nth-child(2n){
	background-color: white;
}

.btn-tabla {
	background-color: transparent;
	border: none;
}
[bt-tabla]  .cargando {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999999999999999999999;
	background: rgba(255,255,255,0.4);
}

.btn-first, .btn-prev, .btn-next, .btn-prev-last, .btn-actualizar{
	background-color: $(--v-oscuro);
	padding: .1em .8em;
}

.btn-actualizar{
	margin-left: .5em;	
}

.cargando.activo{
	display: block;
}

[bt-tabla] thead th:not(:last-child){
	background-color: $(--v-oscuro);
	padding: .5em;
	color: white;
}

[bt-tabla] tr:any(.ng-hide-remove, .ng-enter){
	animation: btTablaEnter 0.5s;
}
[bt-tabla] tr:any(.ng-hide-add-active,.ng-leave){
	animation: btTablaEnter 0.5s reverse;
}
[bt-tabla] tr.ng-enter:nth-child(2n){
	animation: btTablaEnterPar 0.5s;
}
[bt-tabla] th .orden::before {
    content: " ";
    border: 5px solid transparent;
    border-top: 5px solid white;
    display: inline-block;
}
[bt-tabla]  th .orden.asc::before {
    border: 5px solid transparent;
    border-bottom: 5px solid white;
}
[bt-tabla] th:hover{
	cursor: pointer;
}
.animacion-cortina.ng-enter, .animacion-cortina.ng-leave{
	transform-origin: top;
	animation: cortina 0.5s;
}
.animacion-cortina.ng-leave {
	animation-direction: reverse;
}
.entrar-izq.ng-enter{
	animation: entrar-izq 0.5s;
}
.salir-der.ng-leave{
	animation: salir-der 0.5s;
}
@keyframes salir-der{
	0%{
		transform: translate(0);
		opacity: 1;
	}
	100%{
		transform: translate(100%);
		opacity: 0;
	}
}
@keyframes entrar-izq {
	0%{
		transform: translateX(-100%);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes cortina {
	0%{
		transform: scaleY(0)
	}
	90%{
		transform: scaleY(1.1);
	}
	100%{
		transform: scaleY(1) ;
	}
}
@keyframes btTablaEnterPar{
	0%{
		transform: translateY(-50%);
		opacity: 0;
		display:none;
		position: absolute;
	}
	49%{
		position:absolute;
	}
	50%{
		transform: translateY(-50%);
		opacity: 0;
		display:initial;
		position:initial;
	}
	80%{
		transform: translateY(-30%);
		opacity: 0.5;
	}
	100%{
		transform: translateY(0);
	}
}
@keyframes btTablaEnter {
	0%{
		transform: translateY(-50%);
		opacity: 0;
		display: none;
		position: absolute;
	}

	49%{
		position:absolute;
	}
	50%{
		transform: translateY(-50%);
		opacity: 0;
		display: none;
		position: initial;
	}
	80%{
		opacity: 0.5;
	}
	100%{
		transform: translateY(0);
	}
}
/*************************************
********BT-WINDOW*********************
**************************************/
.bt-window {
    position: absolute;
    background: white;
    border: $(--g-oscuro) 1px solid;
}
.bt-window-wrapper{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,.7);
    z-index: 100000000;
}
.bt-window-titulo{
	background-color: $(--v-oscuro);
	color: white;
	font-weight: bold;
	user-select:none;
	padding: .2em;
	z-index: 100000100;
}
.bt-window-titulo:hover{
	cursor:default;
}
.bt-window-btn-container{
	display: flex;
	justify-content: space-around;
	padding: .5em;
	z-index: 100000100;
}
.bt-window-texto, .bt-window-url{
	padding: 1em;
	z-index: 100000100;
}
.bt-window-wrapper.ng-hide-add{
	animation: dummy 0.5s;
}
.bt-window-wrapper.ng-hide-remove{
	animation: dummy 0.5s reverse;
}
.bt-window.ng-hide-remove{
	animation: aparecer 0.5s;
}
.bt-window.ng-hide-add{
	animation: aparecer 0.5s reverse;
}
@keyframes fadeIn {
	0%{
		opacity: initial;
	}
	100%{
		opacity: initial;
	}
}
/************************************
*********BT-IMAGE-UPLOADER***********
************************************/
[bt-image-uploader]{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
}
[bt-image-uploader] canvas{
	border: 2px dashed $(--v-oscuro);
}
[bt-image-uploader] input {
	width: 33% !important;
}
[bt-editor] .barra-comandos, .barra-comandos ul {
	display:flex;
	list-style: none;
}
[bt-editor] iframe{
	background-color:white;
	width: 100%;
}
[bt-editor].btn.activo{
	background-color: $(--v-claro);
	color:black;
}
.barra-comandos{
	flex-wrap: wrap;
}
.barra-comandos li.btn{
	padding: .2em;
	margin:0 !important;
}
.barra-comandos ul{
	margin: .2em;
	border-radius: 4px;
	overflow: hidden; 
}

/************************************
*********BT-AUTO-COMPLETE************
*************************************/
[bt-auto-complete] {
	position: relative;
	display: inline-flex;
	flex-direction: column;
}
[bt-auto-complete] input{
	height: 1.5em;
	border-radius: 2px;
}
[bt-auto-complete] .dropdown {
	position: absolute;
	display: inline-block;
	top:100%;
	min-width: 100%;
	background-color: $(--g-claro);
	border-color: $(--v-oscuro);
	z-index: 1000000;
	max-height: 200px;
	overflow-y: scroll;
}
[bt-auto-complete] .dropdown li {
	border: 1px solid $(--v-oscuro);
	padding: .5em;
}
[bt-auto-complete] .dropdown li:hover{
	background-color: $(--v-claro);
}
[bt-auto-complete] .lista-valores{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
[bt-auto-complete] .lista-valores>li{
	color: white;
	background-color: $(--v-oscuro);
	border-radius: .5em;
	padding: .5em;
	margin: .2em;
}
[bt-auto-complete] .btn-cerrar{
	border-radius: 50%;
	background-color: $(--g-oscuro);
	color:white;
	width:15px;
	height: 15px;
	justify-content: center;
	display: inline-flex;
	align-items: center;
}
[bt-auto-complete] .btn-cerrar:hover{
	color:black;
	background-color: $(--g-claro);
}
[bt-auto-complete] .dropdown.ng-hide-add{
	animation: ocultar 0.5s;
	transform-origin: top;
}
[bt-auto-complete] .dropdown.ng-hide-remove{
	animation: ocultar 0.5s reverse;
	transform-origin: top;
}
[bt-auto-complete] .valor.ng-enter{
	animation: aparecer 0.5s; 
}
[bt-auto-complete] .valor.ng-leave{
	animation: aparecer 0.5s reverse;
}
[bt-auto-complete] ul {
	list-style: none;
}
@keyframes aparecer {
	0%{
		transform: scale(0);
		opacity: 0;
	}
	70%{
		transform: scale(1.05); 
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}
/************************************
*********BT-DATE-PICKER***********
************************************/
[bt-date-picker] {
    display: inline-flex;
    flex-direction: row;
    position:relative;
    min-width: 154px;
}
[bt-date-picker] .btn-select {
	background: $(--g-claro);
	border: 1px solid $(--g-oscuro);
	text-align: center;
}
[bt-date-picker] .btn-select:hover{
	background: $(--v-claro);
}
[bt-date-picker] #texto{
	min-width: 60px;
	min-height: 20px;
	background-color: white;
	display: inline-block;
	border: 1px solid $(--g-oscuro);
	flex: 1;
	display:flex;
	justify-content:flex-start;
	align-items:center;
}

[bt-date-picker] .btn-picker{
	flex:0;
}

[bt-date-picker] .editor{
	flex:1;
	display: flex;
}

[bt-date-picker] .barra{
	display: flex;
	justify-content: space-between;
}
[bt-date-picker] td{
	text-align: center;
	background-color: $(--g-claro);
}
[bt-date-picker] td:hover{
	background-color: $(--v-claro);
}
[bt-date-piker] td.activo{
	background-color: white; 
}
[bt-date-picker] .desplegable{
	position: absolute;
	top:100%;
	background-color: $(--g-oscuro);
	width: 100%;	
    z-index: 1000000000000;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
}
[bt-date-picker] table {
    width: 100%;
}

[bt-date-picker] .desplegable.ng-hide-add{
	animation: ocultar 0.5s;
	transform-origin: top;
}
[bt-date-picker] .desplegable.ng-hide-remove{
	animation: ocultar 0.5s reverse;
	transform-origin: top;
}
[bt-date-picker] .panel.ng-enter{
	animation: traer 0.2s;
	transform-origin: top;
}
@keyframes traer {
	0%{
		transform: translateY(-50%) scale(0.1);
		opacity: 0;
	}
	70%{
		transform: scale(1.1);
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes ocultar {
	0%{
		transform: scaleY(1);
		opacity: 1;
	}
	30%{
		transform: scaleY(1.2);
	}
	100%{
		transform: scaleY(0);
		opacity: 0;	
	}
}

/*************************************
********BT-BTN-CARGA******************
**************************************/
[bt-btn-carga]{
	position:relative;
	background: none;
	border: 0;
	padding: 1em 2em;
}
[bt-btn-carga]:active{
	outline: none;
}
[bt-btn-carga] .contenedor-cuadros{
	top:0;
	left: 0;
	position:absolute;
	width: 100%;
	height: 100%;
	display:flex;
}
[bt-btn-carga] .contenedor-cuadros div{
	flex: 1;
	background-color: $(--v-oscuro);
	transform: scaleY(1);
	z-index: 10;
	transition: margin .2s;
}
[bt-btn-carga].cargando  .contenedor-cuadros div{
	margin: 0 .2em;
	animation: btn-carga .5s infinite;
}
@keyframes btn-carga{
	0%{transform: scaleY(1);}
	50%{transform: scaleY(.5);}
	100%{transform: scaleY(1);}
}
[bt-btn-carga] .contenedor-texto{
	color:white;
	z-index: 100;
}
[bt-btn-carga].cargando .contenedor-texto{
	visibility:hidden;
}
/*************************************
********BT-FILE INPUT*****************
**************************************/
[bt-file-input]{
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}
[bt-file-input] .cuadro-archivos {
	display: flex;
    justify-content: center;
    align-items: center;
	flex: 1 0 30px;
	border: 1px dashed $(--v-oscuro);
}
[bt-file-input] .cuadro-archivos.marcado {
	border: 1px dashed $(--v-claro);
	cursor: copy;
}

/*************************************
********BT-BUSCADOR-ALUMNOS***********
**************************************/
[bt-buscador-alumnos] ul{
	list-style: none;
}
[bt-buscador-alumnos] li {
	margin: .5em;
	display: flex;
}
[bt-buscador-alumnos] li span:first-of-type{
	flex: 1;
}
[bt-buscador-alumnos]{
	margin-left: 1.5em;
}
/*************************************
********PROFESOR****************
**************************************/

nav ul, .contenedor-admin{
	display: flex;
	
}
.contenedor-invitar>div:not([bt-window]){
		border-bottom: 1px solid $(--g-oscuro);
		padding: 2em 1em;
		display: flex;
		flex-direction: column;
		align-items:  center;
		margin-bottom: 1em;
}
.contenedor-invitar :any([bt-file-input],.grupo-horizontal){
	align-self: stretch;
}
.contenedor-invitar .grupo-horizontal input{
	flex: 1;
}
.contenedor-invitar h1 {
	margin-bottom: .5em;
}
/*************************************
********EMPRESA***********************
**************************************/
.form-solicitud-empresa input {
    
}
.form-solicitud-empresa :any(.btn, [bt-input-label]){
	outline: none;
    border: none;
    margin: 1em;
}
.form-solicitud-empresa{
	align-self: center;
}
.form-solicitud-empresa fieldset{
	padding: 3em;
}
.form-solicitud-empresa legend{
	width: 83%;
}

/*************************************
********RESPONSIVE****************
**************************************/
@media all and (max-width: 768px){
 	
 	.cabecera, .usuario{
 		font-size: 0px;
 		color: transparent;
 	}
 	.cabecera ul{
 		width:auto;
 		right:0;
 		left:auto;
		z-index: 99999;
 	}
 	header ul ul{
 		font-size: 16px;
 		color: white;
 	}
 	
 	
 	/*.cabecera>li:last-child:before, .usuario:before{
 		content: ' ';
 		min-height: 40px;
 		min-width: 40px;
 	}*/
 	
 	
 	/*FOOTER*/
 	footer{
 		display: none;
 	}
 	
 }
 @media all and (max-width: 633px){
 	.form-login>ul{
 		align-self: stretch;
 	}

 	.form-login>ul .btn-tipo {
 		padding-left: 0;
 		padding-right: 0;
 		flex: 1;
 		text-align: center;
 	}
 	.form-login {
 		align-self: stretch;
 	}
 	.contenido{
 		align-items: stretch;
 	}
 	
 	header{
 		height: 3em;
 	}
 	.cabecera_usuario{
 		width: 100%;
    	margin:0;
    	overflow: hidden;
 	}
 	.cabecera_usuario>ul{
 		display: flex;
    	flex-wrap: wrap;
    	width: 100%;
 	}
 	.contenedor-admin, .contenedor-ofertas, .contenedor, .contenedor-perfil{
 		width: auto;
 		margin:0;
 		flex-direction: column;
    	overflow: scroll;		
 	}
 	.cabecera_usuario>ul>li{
 		flex: 1;
 	}
 	.contenedor-perfil>div{
 		display: flex;
 		flex-direction: column;
 	}
 	.contenedor-perfil .btn-tipo{
 		align-self: center;
 		margin:1em 0;
 	}
 	.contenedor-perfil .btn-tipo.sin-margen{
 		margin: 1em 0 !important;
 	}
 }



/*************************************
********FUENTES****************
**************************************/
@font-face {
    font-family: "exo-semibold";
    src: url("/fuentes/Exo2-SemiBold.otf");
}

@font-face {
    font-family: "exo-medium";
    src: url("/fuentes/Exo2-Medium.otf");
}

@font-face {
    font-family: "exo-regular";
    src: url("/fuentes/Exo2-Regular.otf");
}
@font-face {
    font-family: "exo-light";
    src: url("/fuentes/Exo2-Light.otf");
}


/*************************************
********COLORES****************
**************************************/
@set {
	--g-oscuro: #727176;
	--g-claro: #edeef0;
	--v-oscuro: #1d9143;
	--v-claro: #c1ce40;
}

