*{
	padding: 0;
	margin: 0;
	font-family: 'exo-regular';
}

body, .contenido{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: var(--g-claro);
}

.contenido{
	align-items: center;
	margin-top: 4em;
}

.contenido ul{
	list-style: none;
	display: flex;
	justify-contents: center;
}

.contenido form{
	
}
.btn-tipo{
	padding: 0.2em 1em;
	background-color: var(--v-oscuro);
	color: white;
	
}
.btn-tipo:not(:first-child):not(:last-child){
	margin: 0 1em;
	
}
.btn-tipo.activo{
	background-color: var(--v-claro);
	color: black;
}
.form-login{
	display:flex;
	flex-direction: column;
}

fieldset{
	margin-top: 2em;
	background-color: white;
	display: flex;
    flex-direction: column;
    padding-top: 1.5em;
}

legend{
	text-align: center;
	width:50%;
	margin: 0 25% 0;
	color: var(--v-oscuro);
	font-family: 'exo-semibold';
	
}

.form-login input[type="submit"] {
	display: flex;
    width: 156px;
    height: 20px;
    background-color: var(--v-oscuro);
    text-align: center;
    border-style: none;
    color: white;
    margin: auto;
}

.form-login a{
	text-align: center;
	text-decoration: none;
}

.errores{
	flex-direction: column;
	color: red;
}


.idioma, span{
	list-style: none;
	background-color: var(--v-oscuro);
	color: white;
	position: relative;
	display: inline-table;
	padding: 10px 15px;
	width: 8%;
}

.idioma li{
	display: block;
    float:left;
}

.idioma ul {
	display: none;
	background-color: var(--v-oscuro);
	position: absolute;

}
 
.idioma li:hover > ul {
	display: block;
}

.idioma li ul {
    padding: 10px 15px;
}

.idioma li:hover {
	background-color: var(--v-claro);
}

.idioma ul li:hover {
	background-color: var(--v-claro);
	padding: 10px 0px;
}

.idioma li ul li{
    padding: 10px 0px;
}

header{
	justify-content: flex-end;
	flex-direction: row;
	display: flex;
	background-color: var(--v-oscuro);
}

/*************************************
********BT-INPUT-LABEL****************
**************************************/
[bt-input-label]{
	position:relative;
	padding: 1em 0;
	align-self:center;
}

[bt-input-label] label{
	position: absolute;
	color: gray;
	pointer-events: none;
	left: .5em;
	transition: all .2s;
}
[bt-input-label] input:focus + label,
[bt-input-label] input.ng-not-empty + label{
	transform: translate(0,-100%);
	color: black;
}

/*************************************
********COLORES****************
**************************************/
:root {
  --g-oscuro: #727176;
  --g-claro: #edeef0;
  --v-oscuro: #1d9143;
  --v-claro: #c1ce40;
}

/*************************************
********FUENTES****************
**************************************/
@font-face {
    font-family: "exo-semibold";
    src: url("/fuentes/Exo2-SemiBold.otf");
}

@font-face {
    font-family: "exo-medium";
    src: url("/fuentes/Exo2-Medium.otf");
}

@font-face {
    font-family: "exo-regular";
    src: url("/fuentes/Exo2-Regular.otf");
}


